li{
    line-height:18px;
}
p{
    line-height:18px;
}
ul{
    padding-left:18px;
}
.bold{
    font-weight:bold;
}
.logo{
    width:158px;
    height:62px;
}
.s6{
    width: 150px;
}
.s8{
    width: 200px;
}
.s12{
    width:300px;
}
.icon_edit{
    width:22px;
    height:22px;
    cursor:pointer;
}
.icon_delete{
    width:24px;
    height:24px;
    cursor:pointer;
}
.couple_icons{
    width: 60px;
}
.form_element{
    text-align:right;
}
.italic{
    font-style:italic;
}
.dpadded{
    padding-bottom:12px;
}
.padded{
    padding:15px;
}
.z-label{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
.z-panel-header{
    font-size: 16px;
}
.btn{
    font-size: 16px;
}
.btn-link{
    padding: 10px 0px 0px 0px;
}
.z-panel-head{
    padding-left:15px;
}
.z-messagebox-button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.z-messagebox-button:focus {
    color: #fff;
}
.z-messagebox-button:hover {
    color: #fff;
}
.form_button{
    font-size: 14px;
}
.unactivated{
    opacity: 0.45;
    cursor:not-allowed;
}
.callout {
	padding-left: 15px;
	border-left: 6px solid #eee;
	background-color: #f1e7bc;
	border-color: #F39C12;
	font-style:italic;
}
.de_emphasized{
    font-size: 14px;
    color:#666;
    font-style:italic;
}
.titled{
    font-size: 22px;
}
.dropdown-menu{
    font-size:14px;
}
.dropdown-menu > li > a{
    padding:2px 20px;
}
.mainDiv{
    margin:0 auto;
    width:950px;
    border:1px #00BE79 solid;
}
.selectorDiv{
    margin:0 auto;
    width:400px;
    border:1px #00BE79 solid;
}
.z-notification-content{
	font-size:15px;
	min-height:80px;
}
.z-radio-content{
    font-size: 14px;
    margin-bottom:0px;
    padding-left:8px;
}
input[type="radio"]{
	margin:0px 0px 4px 0px;
}