@import url('common.css');
/* Styles for mobile devices only */
body{
    padding:0 !important;
}
.logo{
    width:120px;
    height:47px;
}
.s6{
    width: 120px;
}
.s8{
    width: 160px;
}
.s12{
    width: 240px;
}
.icon_edit{
    width:27px;
    height:27px;
}
.icon_delete{
    width:29px;
    height:29px;
}
.couple_icons{
    width: 72px;
}
.dpadded{
    padding-bottom:10px;
}
.padded{
    padding:10px;
}
.z-label{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}
.z-panel-header{
    font-size: 13px;
}
.btn{
    font-size: 13px;
}
.btn-link{
    padding: 0px 0px 0px 20px;
}
.z-panel-head{
    padding-left:12px;
}
.form_button{
    font-size: 12px;
}
.callout {
	padding-left: 12px;
	border-left: 5px solid #eee;
	background-color: #f1e7bc;
	border-color: #F39C12;
	font-style:italic;
}
.de_emphasized{
    font-size: 12px;
    color:#666;
    font-style:italic;
}
.titled{
    font-size: 18px;
}
.dropdown-menu{
    font-size:14px;
}
.dropdown-menu > li > a{
    padding:2px 10px;
}
.mainDiv{
    margin:0 auto;
    width:100%;
    border:1px #00BE79 solid;
}
.summary{
    padding-left:20px;
}
.selectorDiv{
    margin:0 auto;
    width:70%;
    border:1px #00BE79 solid;
}
.z-notification-content{
	font-size:10px;
	min-height:60px;
}
.z-radio-content{
    font-size:12px;
    margin-bottom:0px;
    padding-left:8px;
}
.rule-sm{
    margin-top:10px;
    width: 320px;
}
.z-toolbar-content span{
	font-size:12px;
	color:#333;
}
.z-paging-info{
    display:none;
}